$base-color: black;
$text-color: beige;
$base-padding: 1.5rem;

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $base-color;

  font-size: 1.2rem;
  font-weight: bold;
  font-style: oblique;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    text-align: center;
    div {
      border-bottom: 2px solid $text-color;
    }
  }

  div {
    padding: $base-padding;
    &:hover {
      background-color: lighten($base-color, 20%);
    }
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
}
